
body {
  margin: 20px;
  background-color: firebrick;
}

.player-form {
  border-bottom: 1px solid #dddddd;
  margin: 10px;
}

.player-card img {
    border:1px solid red;
    height: 100px;
  width: 100px;
  margin: auto;
  align-content: center;
  text-align: center;
  padding-right: 100px;
}

.player-card-1 {
 align-content: center;
  text-align: center;
}
  
.player-card-2 {
   align-content: center;
    text-align: center;
}
.panel-body{
  color: darkblue;
}

.h1{
  color: black;
}

.heading{
  color:red;
}