
body {
  margin: 20px;
  background-color: firebrick;
}

.player-form {
  border-bottom: 1px solid #dddddd;
  margin: 10px;
}

.player-card{
    display: inline-block;
    border:3px solid black;
    height: 100px;
    width: 100px;
    margin: 8px;
}

/*.player-card-1 {
 align-content: center;
  
}
  
.player-card {
   align-content: center;
    display:inline-block;
}

.player-card-3 {
   align-content: center;
    
}*/
.panel-body{
  color: darkblue;
}

.h1{
  color: black;
}

.heading{
  color:red;
}
.panel{
   color:green ;
}

.player-card>button{
  text-align: center;
}